<div  class="bg">
  <div *ngIf="user" class="container">

    <h1 style="margin-top: 1%;text-align: center; font-family: 'Times New Roman'; color: blue">Update {{user.category}}</h1>

    <div class="row" style="margin-top:20px">
      <div style="margin-left: 15%" class="col-xs-8 col-sm-8 col-md-8 ">
        <form *ngIf="user" (submit)="onUpdate(user)" role="form">

          <div class="form-group">
            <label>First Name</label>
            <input type="text" [(ngModel)]="user.firstName" name="first_name" class="form-control input-sm" placeholder="First Name">
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input type="email" [(ngModel)]="user.lastName" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label>Staff Id</label>
            <input type="email" [(ngModel)]="user.staffId" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label>Address</label>
            <input type="email" [(ngModel)]="user.address" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="email" [(ngModel)]="user.phone" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="user.email" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>

          <div class="form-group">
            <label>User Name</label>
            <input type="email" [(ngModel)]="user.username" name="last_name"  class="form-control input-sm" placeholder="Email Address">
          </div>


          <input type="submit" value="Update" class="btn btn-info btn-block">

        </form>
      </div>
    </div>



  </div>

  <div style="height:20px">

  </div>

</div>

